
@{
    ViewData["Title"] = "ShowEmployee";
}

<h1>Employee Details</h1>


<ol>
    <li><a asp-action="ShowEmployeeByDepartment" asp-controller="Employee">By Department</a></li>
    <li><a asp-action="ShowEmployeeByCountry" asp-controller="Employee">By Country</a></li>
</ol>

